* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}

.slider {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 80%;
    max-height: 700px;
}

.slider img {
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.container-slider-buttons {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translatex(-50%);
    -ms-transform: translateX(-50%);
}

.container-slider-buttons span {
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-color: #cccc;
    border-radius: 8px;
    float: left;
    margin: 0 10px;
}